<h1>Welcome to Rock, Paper, Scissors!</h1>
<form action="/results">
  <div class="form-group">
    <label for="player">Choose rock, paper or scissors to play against the computer:
    </label>
    <input id="player" name="player" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Choose</button>
</form>
