<h1>Welcome to Rock, Paper, Scissors!</h1>
<form action="/player2">
  <div class="form-group">
    <label for="player1">Player 1, choose rock, paper or scissors:
    </label>
    <input id="player1" name="player1" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Choose</button>
</form>
