<h1>Welcome to Rock, Paper, Scissors!</h1>
<form action="/results">
  <div class="form-group">
    <label for="player2">Player 2, choose rock, paper or scissors:
    </label>
    <input id="player2" name="player2" class="form-control" type="text">
    <!-- the value was added to bring over Player 1 choice to the result page -->
    <input id="player1" name="player1" class="form-control hide" type="text" value=<%= @player1 %> >
  </div>
  <button type="submit" class="btn-success">Choose</button>
</form>
<!-- code below was added to hide player 1 choice -->
<div class="hide">Player 1: <%= @player1 %> </div>
