<h1>Results: </h1>
<h2><%= @results %></h2>
<!-- created a 'play again' button that prompts the user back to the beginning -->
<form action="/">
  <button type="submit" class="btn-success">Play again?</button>
</form>
